<div class="container mt-5">
  <div class="jumbotron text-center bg-light p-5 mb-4">
    <h1 class="display-4">Hello Ruby, I love you!</h1>
    <p class="lead">This is my first Rails webpage.</p>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Learning Ruby on Rails</h5>
      <p class="card-text">
        This is the first Ruby on Rails app I created, and it has been an amazing learning experience! I found it really enjoyable and surprisingly simple to get started with Ruby. The framework made it incredibly fast to set up a database and get things running. Rails truly lives up to its reputation for developer-friendly design.
      </p>
    </div>
  </div>
</div>
